/* font: import ================================================ */
@font-face {
  font-family: 'variableFont';
  src: url('./font/BPdotsSquareVF.ttf') format('truetype');
  font-weight: 1 999;
}


/* Layout ================================================ */
html,body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  transition: background-color 1s ease-in-out;
  background-color: #2c41ff;
  /* background-image: url('./img/tiri_oracle1.jpg'); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


/* text ================================================ */
#mainText1 {
  position: fixed;
  top: 75px;
  left: 10px;
  rotate: 0deg;

  font-family: 'variableFont';
  font-size: 180px;
  color: rgb(255, 255, 255);
  text-align: center;
  letter-spacing: 100;
  line-height: 150px;
  text-wrap: nowrap;
  font-variation-settings: "wght" 1000;

	
  transition: rotate 1s ease-in-out, font-size 1s ease-in-out, font-variation-settings 1s ease-in-out;
}


#mainText2 {
  position: fixed;
  top: 210px;
  left: 10px;

  font-family: 'variableFont';
  font-size: 60px;
  color: rgb(255, 255, 255);
  text-align: left;
  letter-spacing: 0;
  line-height: 60px;
  text-wrap: nowrap;
  font-variation-settings: "wght" 0;
  
	
  transition: font-size 1s ease-in-out, font-variation-settings 1s ease-in-out;
}


/* Image ================================================ */
#image {
  position: fixed;
  width: 300px;
}